//===========colors=================
$color-one:#000250;
$color-two:#2056d7;
$color-three:#808080;
$color-four:#febf01;
$color-five:#383561;
$color-six:rgba(56, 53, 97, 0.8);
$color-seven:#ff8900;

//==========border-radius============
$border-radius:3rem;



